# .dockerignore v1.1.0


# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Local env files
*.env
!.env
.env.example
!.env.*

# Logs
logs
*.log

# VSCode
.vscode
.devcontainer

# Misc
.git
.github
.DS_Store
.AppleDouble
.LSOverride
.fleet
.idea
